@page "/cadastro"
@model RegisterModel
@{
    ViewData["Title"] = "Cadastrar ONG";
     Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}

<main class="min-vh-100 d-flex align-items-center justify-content-center overflow-hidden">
    <div class="container py-0">
        <div class="row w-100 justify-content-center g-0">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-sm border-0 m-0">
                    <div class="card-body p-4 p-md-5">
                        <h1 class="text-center mb-3">@ViewData["Title"]</h1>

                                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <h4 class="text-center mb-3">Primeiro passo para criar uma conta Nexum</h4>
                                    <hr class="my-3" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>     
                                    <div class="mb-3">
                                        <label asp-for="Input.Email">Email</label>
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Input.Password">Senha</label>
                                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Input.ConfirmPassword">Confirmar senha</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Avançar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
